/* Resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Things to be inherited */

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--greenBackground);
}

/* Global variables */

:root {
    --greenBackground: #78b955;
    --greenContainer: #699a4b;
    --greenButton: #77b852;
    --fontColor: #daebc9;
    --marginBottom: 1.3rem;
}

.wrapper {
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.header {
    color: var(--fontColor);
    margin-bottom: var(--marginBottom);
    text-align: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--greenContainer);
    border-radius: 0.5rem;
    box-shadow: 10px 10px 10px var(--greenContainer);
}

.form-group, .form-control {
    width: 100%;
}

.form-group {
    margin: 0.5rem;
}

.form-control {
    background-color: transparent;
    font-size: 1.1rem;
    border: 1px solid var(--fontColor);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.error {
    font-size: 1.1rem;
    font-weight: bold;
    color: #a1404d;
}

.form-control__error {
    border: 3px solid #a1404d;
}

.form-control {
    color: var(--fontColor);
}

.btn {
    font-size: 1.1rem;
    padding: 0.5rem;
    display: block;
    width: 100%;
    color: var(--fontColor);
    background-color: var(--greenButton);
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
}